@use '../common/variables';
@use 'highlights';
@use 'section';

.project {
   &-title {
      @extend .callout;
      font: {
         family: variables.$heading-font;
         size: 2rem;
      }
   }

   &-content {
      @extend .section-content;
      font-size: 1rem;
   }

   &-tag {
      text-transform: uppercase;
      border: {
         color: #ff7e7e;
         style: solid;
      }
      background-color: transparent !important;
   }

   &-item {
      position: relative;
      transition: transform (variables.$transition-speed * 2.5);
      color: inherit;
      text-decoration: none;
      margin-bottom: 100px;

      &:hover {
         transform: scale(1.02);
         color: rgba(variables.$base-color, 0.85);
         text-decoration: none;
      }
   }
}