@use '../common/variables';
@use 'highlights';

.title {
   @extend .callout;
   text-transform: capitalize;
   letter-spacing: .25em;
   font-family: variables.$heading-font;
   font-size: 5rem;
   line-height: 6.25rem;

   & * {
      font: inherit;
   }
}