@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.navigation {
  position: absolute;
  visibility: hidden;
}

.nav-dot {
  paint-order: stroke;
  stroke: rgba(255, 255, 255, 0);
  stroke-width: 0.2em;
  transition: all 300ms;
}
.nav-dot.show {
  stroke: white;
}

#background {
  background-image: url("../../assets/small_stars.svg"), url("../../assets/medium_stars.svg"), linear-gradient(180deg, #1a141a 0%, #1c191f 12.16%, #42272c 32.28%, #3C3126 65.1%, #1F1A20 85.49%, #131B1B 100%);
}

.callout, .project-note {
  font-weight: 900 !important;
}

.highlight, .project-note, .section-heading {
  color: #ff7e7e;
}

.section-heading {
  font-family: "Lato", "sans-serif";
  font-size: 3rem;
  letter-spacing: 0.2em;
  line-height: 100px;
  text-transform: capitalize;
  font-weight: 400;
}
.section-heading * {
  font: inherit;
}
.section-content, .project-content {
  font-weight: 400;
  line-height: 40px;
  font-size: 1rem;
}

.project-container {
  column-count: 2;
  column-gap: 125px;
  column-width: 350px;
}
.project-item {
  break-inside: avoid;
  page-break-inside: avoid;
  transition: transform 750ms;
  color: inherit;
  text-decoration: none;
  margin-bottom: 125px;
  display: inline-block;
}
.project-item:hover {
  transform: scale(1.02);
  color: rgba(255, 250, 250, 0.85);
  text-decoration: none;
}
.project-title {
  font-family: "Lato", "sans-serif";
  font-size: 2rem;
}
.project-tag {
  text-transform: uppercase;
  border-color: #ff7e7e;
  border-style: solid;
  background-color: transparent !important;
}
.work-details-button {
  display: inline-block;
  padding: 5px 20px;
  text-decoration: underline;
  color: white;
  margin-bottom: 125px;
  transition: all 300ms;
  width: 150px;
}
.work-details-button:hover {
  text-decoration: wavy;
  color: inherit;
}

.page {
  height: auto;
  min-height: 100vh !important;
}

.divider {
  transform: translateX(-20px);
  height: 1.5px;
  width: 95%;
  margin-left: 0;
  border-radius: 10px 10px 10px 10px;
  background-color: #d8d8d8;
}

.title {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-family: "Lato", "sans-serif";
  font-size: 3rem;
  line-height: 5.25rem;
}
.title * {
  font: inherit;
}

.adjective {
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  box-sizing: border-box !important;
  color: #fffafa !important;
  font-family: "Source Code Pro", "monospace" !important;
}

#contact {
  position: relative;
  margin-bottom: 0;
}

.plain {
  color: white;
}

#contact-resume {
  border-bottom: 5px dashed;
  display: inline-block;
  color: inherit;
  text-decoration: wavy;
  line-height: 45px;
}

.contact-link {
  text-decoration: none;
  color: inherit;
}
.contact-link:hover {
  text-decoration: none;
}

#home {
  padding-top: 100px;
}

/* Classes for Theming:
** .callout
** .highlight
** .title
** .section-heading
** .section-content
** .project-title
** .project-content
*/

/*# sourceMappingURL=main.css.map */
