// #contact-message {
   //    border-right: 3px solid rgba(white, 0.3);
// }

#contact {
   position: relative;
   margin-bottom: 0;
}

.plain {
   color: white;
}

#contact-resume {
   border-bottom: 5px dashed;
   display: inline-block;
   color: inherit;
   text-decoration: wavy;
   line-height: 45px;
}

.contact-link {
   text-decoration: none;
   color: inherit;
   &:hover {
      text-decoration: none;
   }
}
