@use '../common/variables';

#contact {
   display: flex;
   align-items: center;
   padding-bottom: 20px;
   padding-left: 10px;

   hr {
      width: 50vw;
      background-color: rgba(#fff, 0.4);
      margin-left: 0;
      margin-right: 0;
   }

   .contact-links {
      flex-direction: row;
      display: flex;

      * {
         align-items: center;
         color: variables.$accent-color;
         text-decoration: none;
         font-family: variables.$accent-font;
         font-size: 15px;
         letter-spacing: .1em;
         margin-right: 20px;
         margin-left: 20px;
      }
   }

}