@use '../common/variables';
@use '../components/highlights';

#home {
   .terminal {
      padding-top: 450px;
      margin-left: 90px;
      margin-bottom: 200px;

      > * {
         margin-bottom: 10px;
      }

   }
}