$max-height: 4252px;

// background color

#background {
   position: absolute;
   top: 0;
   left: 0;
   height: $max-height;
   width: 100%;
   z-index: -9999;
   background-image: 
   linear-gradient(180deg, 
      #131214 0%, #121113 12.16%, 
      #42272C 32.28%, #3C3126 65.1%, 
      #1F1A20 85.49%, #131B1B 100%);
   }      
   
   
@function parallax-scale-factor($perspective, $z-distance) {
   @return ($perspective - $z-distance) / $perspective;
}

@function generate-stars($n) {
   $value: '#{random($max-height)}px #{random($max-height)}px #FFF';
   @for $i from 2 through $n {
      $value: '#{$value}, #{random($max-height)}px #{random($max-height)}px #FFF';
   }   
   @return unquote($value);
}   

// star generation

$all-small-stars: generate-stars(700);
$all-medium-stars: generate-stars(200);
$all-large-stars: generate-stars(100);

#small-stars {
   width: 1px;
   height: 1px;
   background: transparent;
   box-shadow: $all-small-stars;
   position: absolute;
   top: 0;
   left: 0;
   
   &::after {
      position: absolute;
      top: $max-height;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: $all-small-stars;
   }   
}   

#medium-stars {
   width: 2px;
   height: 2px;
   background: transparent;
   box-shadow: $all-medium-stars;
   position: absolute;
   top: 0;
   left: 0;
   
   &::after {
      position: absolute;
      top: $max-height;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: $all-medium-stars;
   }   
}   

#large-stars {
   width: 3px;
   height: 3px;
   background: transparent;
   box-shadow: $all-large-stars;
   position: absolute;
   top: 0;
   left: 0;
   
   &::after {
      position: absolute;
      top: $max-height;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: $all-large-stars;
   }   
}   

// parallax -- layers are ordered from 0 - n, where 0 is the foreground, and n is the background.
// foreground elements scroll faster than background elements.

$perspective: 10px;

.parallax-container {
   position: relative;
   width: 100%;
   height: 100vh;
   overflow-x: hidden;
   overflow-y: scroll;
   perspective: $perspective;
   perspective-origin: 50%;
}

@mixin parallax-layer-styles {
   @for $i from 0 through 3 {
      .parallax-layer-#{$i} {
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         $z-dist: -2 * $i + 0px;
         transform: translateZ($z-dist) scale(parallax-scale-factor($perspective, $z-dist));
      }
   }
}

@include parallax-layer-styles();