// Include Bootstrap Here
@import '~bootstrap';
@import '~bootstrap-vue';

// custom imports
@import './background.scss';
@import './fonts.scss';
@import './common/_constants';

body {
   -webkit-font-smoothing: antialiased !important;
   -moz-osx-font-smoothing: grayscale !important;
   box-sizing: border-box !important;
   color: $base-color;
   font-family: $content-font;
}

/* Classes for Theming:
** .callout
** .highlight
** .title
** .section-heading
** .section-content
** .project-title
** .project-content
*/

.callout {
   font-weight: 900 !important;
}

.highlight {
   color: $accent-color;
}

// section styles 
.section {
   &-heading {
      @extend .callout;
      @extend .highlight;
      font-family: $heading-font;
      font-size: 2.3125rem;
      letter-spacing: 0.20em;
      line-height: 80px;
      text-transform: capitalize;

      & * {
         font: inherit;
      }
   }

   &-content {
      font-weight: 400;
      line-height: 40px;
      font-size: 1.15rem;
   }
}

.title {
   @extend .callout;
   text-transform: uppercase;
   letter-spacing: .40em;
   font-family: $heading-font;
   font-size: 2.3125rem;
   line-height: 70px;

   & * {
      font: inherit;
   }
}

.page {
   @extend .mb-5;
   height: auto;
   min-height: 100vh !important;
}

.divider {
   transform: translateX(-20px);
   height: 1.5px;
   width: 95%;
   margin-left: 0;
   border-radius: 10px 10px 10px 10px;
   background-color: rgb(216, 216, 216);
}

.project {
   &-title {
      @extend .callout;
      font: {
         family: $heading-font;
         size: 2rem;
      }
   }

   &-content {
      @extend .section-content;
      font-size: 1rem;
   }

   &-tag {
      text-transform: uppercase;
      border: {
         color: #ff7e7e;
         style: solid;
      }
      background-color: transparent !important;
   }
}


