// Include Bootstrap Here
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index';

// custom imports
@import './background.scss';
@import './fonts.scss';

* {
   -webkit-font-smoothing: antialiased !important;
   -moz-osx-font-smoothing: grayscale !important;
   box-sizing: border-box !important;
   color: #ffffff;
}

/* Classes for Theming:
** .callout
** .highlight
** .section-heading
** .section-content
** .title
*/

.callout {
   font-weight: 900 !important;
}

.highlight {
   color: #ff7e7e !important;
}

.section-heading {
   font-family: 'Source Sans Pro', 'sans-serif';
   font-weight: 900;
   font-size: 37px;
   letter-spacing: 0.20em;
   line-height: 80px;
}

.section-content {
   font-family: 'Montserrat';
   font-weight: 400;
   line-height: 40px;
   font-size: 16px;
}

.title {
   text-transform: uppercase;
   letter-spacing: .40em;
   font-family: 'Source Sans Pro', 'sans-serif';
   font-weight: 900;
   font-size: 37px;
   line-height: 70px;
}

.title > * {
   font-weight: inherit;
}

.page {
   @extend .mb-5;
   min-height: 100vh !important;
}

