@use '../common/variables';

.navigation {
   position: absolute;
   visibility: hidden;
}

.nav-dot {
   border-style: solid;
   transition: all variables.$transition-speed;
   
   &.show {
      border-color: rgba(#fff, 1);
   }   
}

