@use '../common/variables';
@use 'highlights';
@use 'section';

// styles

.project {
   &-item {
      break-inside: avoid;
      page-break-inside: avoid;
      transition: all (variables.$transition-speed * 2.5);
      color: variables.$base-color;
      text-decoration: none;
      margin-bottom: 125px;
      display: inline-block;

      &:hover {
         transform: scale(1.02);
         color: rgba(variables.$base-color, 0.85);
         text-decoration: none;
      }
   }

   &-title {
      font-family: variables.$content-font;
      font-size: 1.875rem;
      position: relative;

      &::before {
         position: absolute;
         left: 0;
         right: 0;
         bottom: 0;
         top: 0;
         transform: translateX(-10px) translateY(7px);
         background-color: variables.$accent-color;
      }
   }

   &-content {
      font-family: variables.$content-font;
      font-size: 1.25rem;
      margin-top: 20px;
   }

}
