@use '../common/variables';
@use 'highlights';

// section styles 
.section {
   &-heading {
      @extend .highlight;
      font-family: variables.$heading-font;
      font-size: 3rem;
      letter-spacing: 0.20em;
      line-height: 100px;
      text-transform: capitalize;
      font-weight: 400;

      & * {
         font: inherit;
      }
   }

   &-content {
      font-weight: 400;
      line-height: 40px;
      font-size: 1rem;
   }
}

