@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400&display=swap");
.navigation {
  position: fixed;
  display: inline-block;
  right: 1.46875rem;
  top: 18.75rem;
}

.bar {
  margin: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  width: 0.1875rem;
  height: 1000px;
  top: 200px;
  right: 1.875rem;
}

.nav-item {
  text-align: right;
  margin-bottom: 1.3em;
  text-transform: uppercase;
  display: block;
  transition: all 300ms;
  color: rgba(255, 126, 126, 0.7);
}

.nav-text {
  display: inline;
  opacity: 0;
  transition: all 300ms;
  font-size: 1em;
  font-weight: 900;
  font-family: "Source Sans Pro", "monospace";
  color: #ff7e7e;
  letter-spacing: 0.2em;
}
.nav-text.show {
  opacity: 1;
}

.nav-dot {
  background-color: rgba(255, 255, 255, 0.7);
  background-clip: padding-box;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0);
  border-width: 0.2em;
  border-radius: 100%;
  height: 1em;
  width: 1em;
  display: inline-block;
  transition: all 300ms;
}
.nav-dot.show {
  border-color: white;
}

#background {
  background-image: url("../../assets/small_stars.svg"), url("../../assets/medium_stars.svg"), linear-gradient(180deg, #1a141a 0%, #1c191f 12.16%, #42272c 32.28%, #3C3126 65.1%, #1F1A20 85.49%, #131B1B 100%);
  background-repeat: repeat, repeat-y, no-repeat;
}

.star-system {
  position: absolute;
  z-index: -100;
  right: 1px;
  transform: translateY(-150px);
}

/* ==================================== *\
\* ------ Adjust these variables ------ */
/* ====================================- */
.callout, .title, .project-title, .section-heading {
  font-weight: 900 !important;
}

.highlight, .section-heading {
  color: #ff7e7e;
}

.section-heading {
  font-family: "Source Sans Pro", "monospace";
  font-size: 4rem;
  letter-spacing: 0.2em;
  line-height: 100px;
  text-transform: capitalize;
}
.section-heading * {
  font: inherit;
}
.section-content, .project-content {
  font-weight: 400;
  line-height: 40px;
  font-size: 1rem;
}

.project-container {
  column-count: 2;
  column-gap: 125px;
  column-width: 350px;
}
.project-item {
  break-inside: avoid;
  page-break-inside: avoid;
  transition: transform 750ms;
  color: inherit;
  text-decoration: none;
  margin-bottom: 125px;
  display: inline-block;
}
.project-item:hover {
  transform: scale(1.02);
  color: rgba(255, 250, 250, 0.85);
  text-decoration: none;
}
.project-title {
  font-family: "Source Sans Pro", "monospace";
  font-size: 2rem;
}
.project-tag {
  text-transform: uppercase;
  border-color: #ff7e7e;
  border-style: solid;
  background-color: transparent !important;
}

.work-details-button {
  display: inline-block;
  padding: 5px 20px;
  text-decoration: underline;
  color: white;
  margin-bottom: 125px;
  transition: all 300ms;
  width: 150px;
}
.work-details-button:hover {
  text-decoration: wavy;
  color: inherit;
}

.page {
  height: auto;
  min-height: 100vh !important;
}

.divider {
  transform: translateX(-20px);
  height: 1.5px;
  width: 95%;
  margin-left: 0;
  border-radius: 10px 10px 10px 10px;
  background-color: #d8d8d8;
}

.title {
  text-transform: capitalize;
  letter-spacing: 0.25em;
  font-family: "Source Sans Pro", "monospace";
  font-size: 5rem;
  line-height: 6.25rem;
}
.title * {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  box-sizing: border-box !important;
  color: #fffafa !important;
  font-family: "Source Code Pro", "sans-serif" !important;
}

#contact {
  position: relative;
  margin-bottom: 0;
}

.plain {
  color: white;
}

#contact-resume {
  border-bottom: 5px dashed;
  display: inline-block;
  color: inherit;
  text-decoration: wavy;
  line-height: 45px;
}

.contact-link {
  text-decoration: none;
  color: inherit;
}
.contact-link:hover {
  text-decoration: none;
}

#home .title {
  margin-top: 250px;
}

/* Classes for Theming:
** .callout
** .highlight
** .title
** .section-heading
** .section-content
** .project-title
** .project-content
*/

/*# sourceMappingURL=main.css.map */
