@use '../common/variables';

html {
   scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
   -webkit-font-smoothing: antialiased !important;
   -moz-osx-font-smoothing: grayscale !important;
   box-sizing: border-box !important;
   color: variables.$base-color !important;
   font-family: variables.$content-font !important;

}